.git/
.gitignore

**/.env
**/.env.*

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.venv/
**/.venv/
**/venv/
**/env/

**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.next/
**/node_modules/

api/storage/
api/studyforge_api.egg-info/

README.md
